.carousel-item, .footer{

height: 500px

}







h2{
  width: 100%;
    text-align:center;
    margin: 3rem 0rem;
}



form{
  margin-top: 5rem;
}

.img-signIn{
  width: 25rem;
  height: 25rem;
}

contact{
  margin-top: 30rem;
}
